.profile-link {
  text-align: right;
}
.profile-link a {
  position: relative;
  color: var(--secondary-text-color);
  text-decoration: none;
  margin-right: 10px;
  font-size: 13px;
}

.profile-link a:hover {
  text-decoration: underline;
}

.search {
  margin: 20px 0;
}

.chats-wrapper {
  display: flex;
  flex-direction: column;
}

.chats-wrapper .chats-wrapper_list .chat {
  margin-bottom: 10px;
  cursor: pointer;
}

.chats-controls {
  margin-bottom: 0;
  margin-top: auto;
}

.chats-controls > div:not(:last-child) {
  margin-bottom: 8px;
}

.layout_chat {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  width: 100%;
}

.layout_chat_controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.layout_chat_controls .input-controlled_input {
  width: 100%;
}

.layout_chat_controls .send {
  width: auto;
}

.message {
  margin: 8px 0;
}

.message .message_user {
  color: var(--secondary-text-color);
  font-size: 12px;
  text-decoration: underline;
  padding-left: 5px;
  margin-bottom: 3px;
}

.message .message_content {
  background-color: var(--secondary-bg-color);
  padding: 5px 15px;
  color: var(--main-text-color);
  font-size: 14px;
  border-radius: 15px;
}
