.profile-link {
  text-align: right;
  a {
    position: relative;
    color: var(--secondary-text-color);
    text-decoration: none;
    margin-right: 10px;
    font-size: 13px;
    &:hover {
      text-decoration: underline;
    }
    &:after {
      content: "";
      display: block;
      height: 7px;
      width: 7px;
      position: absolute;
      right: -10px;
      border-right: 1px solid #999;
      border-top: 1px solid #999;
      top: 50%;
      transform: translateY(-50%);
      rotate: (45deg);
    }
  }
}

.search {
  margin: 20px 0;
}

.messages {
  display: flex;
  .select-chat {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--secondary-text-color);
    font-size: 12px;
  }
  &_input {
    margin-bottom: 0;
    margin-top: auto;
    min-width: 100%;
    padding: 16px 20px 0 16px;
  }
}
