* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  margin: 0;
}

:root {
  --main-bg-color: #181a20;
  --secondary-bg-color: #262a34;
  --modal-border-radius: 12px;
  --main-text-color: #ffffff;
  --secondary-text-color: #999999;
  --main-border-color: #494c54;
  --accent-border-color: #246bfd;
  --button-bg-color: #3369f3;
}

body {
  background: var(--main-bg-color);
}

.layout {
  display: flex;
  .sidebar {
    width: 30%;
    min-height: 100vh;
    border-right: 2px solid var(--main-border-color);
    padding: 21px 10px;
  }
  .messages {
    position: relative;
    width: 70%;
  }
}

.error-wrapper {
  display: flex;
  padding: 100px 0;
  &__content {
    margin: auto;
    color: var(--main-text-color);
    text-align: center;
    h4 {
      font-size: 32px;
    }
    .back-link {
      color: var(--button-bg-color);
    }
  }
}
@import "../components/input.scss";
@import "../components/button.scss";
@import "../components/chat.scss";
