.profile {
  display: flex;
  min-height: 100vh;

  .back-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-bg-color);
    width: 64px;
  }

  &-wrapper {
    display: flex;
    width: 100%;
  }

  &-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 510px;

    .profile-avatar {
      display: flex;
      flex-direction: column;
      color: var(--main-text-color);
      text-align: center;
      margin-bottom: 50px;

      img {
        margin-bottom: 15px;
      }
    }
  }

  &-info {
    width: 100%;
    margin: 10px 0;
  }

  &-info__line {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--main-border-color);
    width: 100%;
    color: var(--main-text-color);
  }

  .profile-change {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;

    a {
      color: var(--button-bg-color);
      margin: 7px 0;
    }
  }
}
